{:deps   true

 :nrepl  {:port 8777}

 :builds {:dev {:target     :browser
                :output-dir "resources/public/js"
                :asset-path "/js"
                :modules    {:app {:init-fn  video-recording-sample-app.core/init!
                                   :preloads [devtools.preload
                                              re-frisk.preload]}}
                :devtools   {:http-root "resources/public"
                             :http-port 8090
                             }}}}
